# Build results
**/bin/
**/obj/
**/out/
**/publish/

# IDE
.vs/
.vscode/
.idea/
*.user
*.suo

# Git
.git/
.gitignore

# Docker
**/Dockerfile*
**/docker-compose*
**/.dockerignore

# Tests
**/tests/
**/*.Tests/
**/TestResults/
**/coverage/

# Documentation
**/*.md
LICENSE

# Misc
**/.DS_Store
**/Thumbs.db
**/*.log
